<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.pkp.androidbluetooth">

    <!-- Libraries have no manifest -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Required for listing Bluetooth devices on Android 6.0 and higher -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
